#!/bin/sh
export JWKS_URL="http://account-service.production.svc.cluster.local/.well-known/jwks.json"
export JWT_ISSUER="gauas-auth"
export JWT_AUDIENCE="gauas-api"
export REDIS_URL="redis://redis-authorization-service:6379/0"
export QUEUE_URL="amqp://guest:guest@rabbitmq:5672/"
export SECURITY_EVENT_QUEUE="auth.session.revoked"
export KAFKA_CONSUMER_GROUP="authorization-service"
